* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#popup-container {
  width: 350px;
  height: 500px;
  background: linear-gradient(180deg, #151A1E 0%, #FFFFFF 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* image 1 */
#image {
  height: 200px;
  width: 200px;
  border-radius: 8px;
  margin-top: -10px;
}

/* Netflix was detected! ✅ */
#title {
  width: 100%;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  margin: 20px;
}

.button-2 {
  align-items: center;
  width: 200px;
  background-color: #40BCF4;
  border: 0;
  border-radius: 25px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-2:hover,
.button-2:focus {
  background-color: #39a8db;
  color: #ffffff;
}

.button-2:active {
  background: #2d84ac;
  color: rgb(255, 255, 255, 0.7);
}

.button-2:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.button-1 {
  align-items: center;
  width: 200px;
  background-color: #FF8000;
  border: 0;
  border-radius: 25px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin: 10px;
}

.button-1:hover,
.button-1:focus {
  background-color: #ed7600;
  color: #eeeeee;
}

.button-1:active {
  background: #d86c00;
  color: rgba(230, 230, 230, 0.7);
}

.button-1:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.5);
}

#button-logo {
  margin-right: 8px;
}
